<div class="container">
  <div class="row">
    <div class="col-sm-8">
        <div class="map-origin" style="width: 100%; height: auto; max-width: 620px; margin: 0 auto;">
          <h2>Mapa de destino</h2>
            <agm-map 
            [latitude]="lat"
            [longitude]="lng"
            [zoom]="zoom"
            [disableDefaultUI]="false"
            [zoomControl]="false">
          
            <agm-marker 
                *ngFor="let m of markers; let i = index"
                (markerClick)="clickedMarker(m.label, i)"
                [latitude]="m.lat"
                [longitude]="m.lng"
                [label]="m.label"
                [markerDraggable]="m.draggable"
                (dragEnd)="markerDragEnd(m, $event)">
                
              <agm-info-window>
                <strong>InfoWindow content</strong>
              </agm-info-window>
              
            </agm-marker>
            
            <agm-circle [latitude]="lat + 0.3" [longitude]="lng" 
                [radius]="5000"
                [fillColor]="'red'"
                [circleDraggable]="true"
                [editable]="true">
            </agm-circle>
          
          </agm-map>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h2>Datos del viaje</h2>
        <ul *ngFor="let trip of trips">
          <li>Lugar de origen: &nbsp; {{trip.origin}}</li>
          <li>Lugar de destino: &nbsp; {{trip.destination}}</li>
          <li>Fecha de reserva: &nbsp; {{trip.date}}</li>
        </ul>
      </div>
    </div>
  </div>
</div> 








