body {
    font-family: 'Raleway', sans-serif;
}
#help {
    top: 0 !important;
    position: fixed;
    right: -530px;
    /*left: 0;*/
    height: 100%;
    overflow: auto;
    opacity: 1;
    padding: 48px 16px;
    max-width: 530px;
    width: 100%;
    z-index: 22;
    background-color: #fafafa;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.helpActive {
    top: 0 !important;
    position: fixed;
    right: 0!important;
    height: 100%;
    overflow: auto;
    opacity: 1;
    padding: 48px 16px;
    max-width: 530px;
    width: 100%;
    z-index: 22;
    background-color: #fafafa;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

#loginForm {
    top: 0 !important;
    position: fixed;
    right: -530px;
    /*left: 0;*/
    height: 100%;
    overflow: auto;
    opacity: 1;
    padding: 48px 16px;
    max-width: 530px;
    width: 100%;
    z-index: 22;
    background-color: #fafafa;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.loginFormActive {
    top: 0 !important;
    position: fixed;
    right: 0!important;
    height: 100%;
    overflow: auto;
    opacity: 1;
    padding: 48px 16px;
    max-width: 530px;
    width: 100%;
    z-index: 22;
    background-color: #fafafa;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

#ayuda {
    cursor: pointer;
}

.exitHelp {
    width: 100%;
    height: auto;
    max-width: 25px;
    position: absolute;
    right: 40px;
    cursor: pointer;
}

.exitHelp2 {
    width: 100%;
    height: auto;
    max-width: 25px;
    position: absolute;
    right: 40px;
    cursor: pointer;
}

.envolver{
    width: 100%;
    height: auto
}

.opacityBody {
    background-color: rgba(0,0,0,0.9);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 9;
    opacity: 0.8;
}

#panel {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
  }

  #bar {
    width: 240px;
    background-color: rgba(255, 255, 255, 0.75);
    margin: 8px;
    padding: 4px;
    border-radius: 4px;
  }

  #autoc {
    width: 100%;
    box-sizing: border-box;
  }
