<div class="container" id="prueba">
  <div class="row">
    <div class="col-sm-12">
      <div class="container-search">
        <div class="txt-search">
            <p>Alquiler de barcos, ¡fácil y seguro!</p>
            <p>Más de 20.000 embarcaciones para alquilar al mejor precio y en todo el mundo</p>
        </div>
        <div class="inputs-search" style="color: black;">
            <input id="pac-input" class="controls" type="text" placeholder="Ciudad de origen" name="origin" ng-model="origin">
            <input id="pac-input2" class="controls" type="text" placeholder="Ciudad de origen" name="destination" ng-model="destination">
            <input type="date">
            <input type="date">
            <button type="submit" (click)="recogerInput()" class="clearfix btn high">Buscar</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <strong><p style="text-align: center; font-size: 1.8em; margin-top: 40px;">Comparten sus <span style="color: #dd4d93">experiencias inolvidables</span></p></strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>&nbsp;</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-6">
          <div class="txt-experience">
            <img src="https://media-exp2.licdn.com/mpr/mpr/shrinknp_200_200/AAIABADGAAAAAQAAAAAAAAsaAAAAJDRlODFhYjAyLTg4MjctNDU3NS1hZjBhLWFlZDliMGNlYmY2Yw.jpg" alt="" title="" width="50" height="auto" class="imgProfile"/><span>&nbsp;&nbsp;&nbsp;&nbsp; Manuel avello</span>
            <br/><br/>
            <p>5 de marzo del 2017 - 19:02:50</p>
            <br/>
            <p>EXCelente capitan...muy buen manejo del barco, precabido y respetuoso con las normas ....le recomiendo a cualquier armador que quiera alquilarle el barco.... Espero verle pronto otra vez a él y a su familia...muy simpáticos todos...chapo!...</p>
          </div>
        </div>
        <div class="col-sm-6">
            <div class="txt-experience">
              <img src="https://avatars0.githubusercontent.com/u/568638?v=4&s=460" alt="" title="" width="50" height="auto" class="imgProfile"/><span>&nbsp;&nbsp;&nbsp;&nbsp; Marc Pomar</span>
              <br/><br/>
              <p>5 de marzo del 2017 - 19:02:50</p>
              <br/>
              <p>EXCelente capitan...muy buen manejo del barco, precabido y respetuoso con las normas ....le recomiendo a cualquier armador que quiera alquilarle el barco.... Espero verle pronto otra vez a él y a su familia...muy simpáticos todos...chapo!...</p>
            </div>
          </div>
      </div>
    </div>
    <div class="col-sm-12">
      <p>&nbsp;</p>
    </div>
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-6">
                <div class="txt-experience">
                  <img src="https://media-exp2.licdn.com/mpr/mpr/shrinknp_200_200/AAIABADGAAAAAQAAAAAAAAsaAAAAJDRlODFhYjAyLTg4MjctNDU3NS1hZjBhLWFlZDliMGNlYmY2Yw.jpg" alt="" title="" width="50" height="auto" class="imgProfile"/><span>&nbsp;&nbsp;&nbsp;&nbsp; Manuel avello</span>
                  <br/><br/>
                  <p>5 de marzo del 2017 - 19:02:50</p>
                  <br/>
                  <p>EXCelente capitan...muy buen manejo del barco, precabido y respetuoso con las normas ....le recomiendo a cualquier armador que quiera alquilarle el barco.... Espero verle pronto otra vez a él y a su familia...muy simpáticos todos...chapo!...</p>
                </div>
              </div>
              <div class="col-sm-6">
                  <div class="txt-experience">
                    <img src="https://media-exp2.licdn.com/mpr/mpr/shrinknp_200_200/AAIABADGAAAAAQAAAAAAAAsaAAAAJDRlODFhYjAyLTg4MjctNDU3NS1hZjBhLWFlZDliMGNlYmY2Yw.jpg" alt="" title="" width="50" height="auto" class="imgProfile"/><span>&nbsp;&nbsp;&nbsp;&nbsp; Manuel avello</span>
                    <br/><br/>
                    <p>5 de marzo del 2017 - 19:02:50</p>
                    <br/>
                    <p>EXCelente capitan...muy buen manejo del barco, precabido y respetuoso con las normas ....le recomiendo a cualquier armador que quiera alquilarle el barco.... Espero verle pronto otra vez a él y a su familia...muy simpáticos todos...chapo!...</p>
                  </div>
                </div>
        </div>
      </div>
  </div>
</div>


<section class="favorite-place">
    <h1 style="color: white; text-align: center; padding-top: 70px; font-size: 3.4em;">Ibiza</h1>
    <h4 style="color: white; text-align: center; padding-bottom: 70px;">Nuestro destino favorito en España</h4>
    <h3 style="color: white; text-align: center; padding-bottom: 60px; -webkit-border-radius: 80px; -moz-border-radius: 80px; border-radius: 80px;">Descúbrelo</h3>
  </section>