<div class="container" id="prueba">
  <div class="row">
    <div class="col-sm-12">
      <div class="container-search">
        <div class="txt-search">
            <p>Alquiler de barcos, ¡fácil y seguro!</p>
            <p>Más de 20.000 embarcaciones para alquilar al mejor precio y en todo el mundo</p>
        </div>
        <div class="inputs-search" style="color: black;">
            <input id="pac-input" class="controls" type="text" placeholder="Ciudad de origen">
            <input type="date">
            <input type="date">
            <button type="submit" class="clearfix btn high">Buscar</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <strong><p style="text-align: center; font-size: 1.8em; margin-top: 40px;">Comparten sus <span style="color: #dd4d93">experiencias inolvidables</span></p></strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>&nbsp;</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-6">
          <div class="txt-experience">
            <p>Francisco jose</p>
            <p>dic. 2017 Alquiler de barcos CRANCHI Cranchi turchesse 24 en Costa Adeje</p>
            <p>EXCelente capitan...muy buen manejo del barco, precabido y respetuoso con las normas ....le recomiendo a cualquier armador que quiera alquilarle el barco.... Espero verle pronto otra vez a él y a su familia...muy simpáticos todos...chapo!...</p>
          </div>
        </div>
        <div class="col-sm-6">
            <div class="txt-experience">
              <p>Francisco jose</p>
              <p>dic. 2017 Alquiler de barcos CRANCHI Cranchi turchesse 24 en Costa Adeje</p>
              <p>EXCelente capitan...muy buen manejo del barco, precabido y respetuoso con las normas ....le recomiendo a cualquier armador que quiera alquilarle el barco.... Espero verle pronto otra vez a él y a su familia...muy simpáticos todos...chapo!...</p>
            </div>
          </div>
      </div>
    </div>
    <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6">
            <div class="txt-experience">
              <p>Francisco jose</p>
              <p>dic. 2017 Alquiler de barcos CRANCHI Cranchi turchesse 24 en Costa Adeje</p>
              <p>EXCelente capitan...muy buen manejo del barco, precabido y respetuoso con las normas ....le recomiendo a cualquier armador que quiera alquilarle el barco.... Espero verle pronto otra vez a él y a su familia...muy simpáticos todos...chapo!...</p>
            </div>
          </div>
          <div class="col-sm-6">
              <div class="txt-experience">
                <p>Francisco jose</p>
                <p>dic. 2017 Alquiler de barcos CRANCHI Cranchi turchesse 24 en Costa Adeje</p>
                <p>EXCelente capitan...muy buen manejo del barco, precabido y respetuoso con las normas ....le recomiendo a cualquier armador que quiera alquilarle el barco.... Espero verle pronto otra vez a él y a su familia...muy simpáticos todos...chapo!...</p>
              </div>
            </div>
        </div>
      </div>
  </div>
</div>


<section class="favorite-place">
    <h1 style="color: white; text-align: center; padding-top: 70px; font-size: 3.4em;">Ibiza</h1>
    <h4 style="color: white; text-align: center; padding-bottom: 70px;">Nuestro destino favorito en España</h4>
  </section>